table {
	width:70%;
}
td {
	text-align:center;
	 border: 1px solid #e9ecef;
	width:14.28%;
	vertical-align:top;
	height:100px;
}
.date {
	width:100%;
	border-radius: 1.5rem!important;
	background:pink;
	display:inline-block;
}

.span-note {
	display:inline-block;
}

.sam {
	position: fixed;
	bottom: 0;
	
	
}

.hidden_form { 
	display:none;
}

.nav-menu {
	float:left;
	width:200px;
	border:1px black solid;
}

.nav {
	width:100%;
	display:inline-block;
}

.memo {
	border: solid 2px black;
	width:235px;
	height:170px;
	display:inline-block;
	margin: 0 15px 30px 15px;
	text-align: center;
}

.invited_member { /* write_schedule.jsp : 일정을 함께하는 친구 리스트 */
	display: inline-block;
	min-height:25px;
	line-height:30px;
	background:pink;
	padding:5px;
	margin:5px;
	border-radius: 5px;
}

.delete_member { /* write_schedule.jsp : 일정을 함께하는 친구 리스트 제거버튼블럭 */
	display: inline-block;
	width:20px;
	margin-left:5px;
	margin-top:-6px;
	height:20px;
	background:red;
	vertical-align: middle;
	
}