table {
	width:70%;
}
td {
	text-align:center;
	border: 1px solid black;
	width:14.28%;
	vertical-align:top;
	height:100px;
}
.date {
	width:100%;
	background:pink;
	display:inline-block;
}

.span-note {
	display:inline-block;
}

.sam {
	position: fixed;
	bottom: 0;
	
	
}

.hidden_form { 
	display:none;
}

.nav-menu {
	float:left;
	width:200px;
	border:1px black solid;
}

.nav {
	width:100%;
	display:inline-block;
}

.memo {
	border: 1px solid black;
	width:15%;
	float:left;
}