@charset "EUC-KR";
/* #layout-center {
	margin : 0 auto;
	text-align: center;
} */


<style type="text/css">

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

#btn-long-pink {
    color: #fff;
    background-color:#F72765;
    width: 280px;
    height : 50px;
    border-color: #F72765;
}

#btn-longer-pink {
    color: #fff;
    background-color:#F72765;
    width: 360px;
    height : 50px;
    border-color: #F72765;
    
}

#btn-sm-pink {
    color: #fff;
    background-color:#F72765;
    width: 100px;
    height :35px;
    border-color: #F72765;
}


.text-wrapper {
    text-align: center;
}
</style>